* { margin: 0; padding: 0; }

/*ESTILO GERAL*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #000;
    height: 100vh;
}

.interface{
    
    max-width: 1280px;
    margin: 0 auto;

}

.flex{
    display: flex;
}

.btn-contato button{
    padding: 10px 40px;
    font-size: 25px;
    font-weight: 700;
    background-color: #fff;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;

}

h2.titulo{
    color: #fff;
    font-size: 50px;
    text-align: center;
}

button:hover, form .btn-enviar input:hover{
    box-shadow: 0px 0px 8px #fff;
    transform: scale(1.30);
}





/* ESTILO DO CABEÇALHO */



main{
    
    margin-top: 75px;
    
}



header{
    top: 0;
    width: 100%;
    padding: 10px 4%;
    position: fixed;
    background-color: #000;
    z-index: 1;
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    color: #7d7d7d;
    text-decoration: none;
    display: inline-block;
}

header nav.menu-desktop a:hover{
    color: #fff;
    transform: scale(1.30);
    transition: .2s;
}

header nav ul{
    list-style-type: none;
}

header nav.menu-desktop ul li{
    display: inline-block;
    padding: 0 40px;
}

@media (max-width: 700px) {
    .menu-desktop {
        display: none;
    }
    #btn-contato{
        display: none;
    }
}

.img-topo-site #teste1{
    width: 100%;
    height: 100%;
}


.btn-contato button:hover{

    box-shadow: 0px 0px 8px #fff;
    transform: scale(1.05);
}

/* ESTILO DO MENU MOBILE */

.btn-abrir-menu i{
    color: #fff;
    font-size: 40px;
    cursor: pointer;
}



.menu-mobile{
    background-color: #000;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99999;
    width: 100%;
    overflow: hidden;
    
}

@media (max-width: 700px) {
    .menu-mobile {
        width: 100%;
    }
}

@media (min-width: 700px){
    .btn-abrir-menu{
        display: none;
    }
}


.menu-mobile .btn-fechar{
    padding: 20px 5%;

}

.menu-mobile .btn-fechar i{
    color: #fff;
    font-size: 30px;

}

.menu-mobile nav ul{
    display: flex; 
    flex-direction: column;
    text-align: right;

}

.menu-mobile nav ul li a{
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    padding: 20px 8%;
    display: block;

}

.menu-mobile nav ul li a:hover{
    background-color: #fff;
    color: #000;

}

.overlay-menu{
    background-color: #000000a7;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: 88888;
    display: none;
}



/* ESTILO DO TOPO DO SITE */

.topo-do-site{
    /* margin-top: 100px; */
    /* background-color: red; */
}


section.topo-do-site{
    padding: 40px 4%;
}

section.topo-do-site .flex{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 90px;
}

@media (max-width: 1030px) {
    .topo-do-site .interface .flex{
        margin-top: 100px;
        flex-direction: column;
    }
}

#teste1{
    width: 650px;
    height: 650px;

}

.topo-do-site h1{
    color: #fff;
    font-size: 42px;
    line-height: 40px;
}

.topo-do-site .txt-topo-site h1 span{
    color: #fff;
}

.topo-do-site .txt-topo-site p{

    color: #fff;
    margin: 40px 0;
}



/* ESTILO DAS ESPECIALIDADES */

/* .especialidades{
    margin-top: 100px;
    background-color: blue;
} */

section.especialidades{
    /* position: static; */
    padding: 80px 4%;
}

section.especialidades .flex{
    gap: 60px;
}


.especialidades .especialidades-box{
    color: #fff;
    padding: 40px;
    border-radius: 20px;
    margin-top: 45px;
    transition: .2s;
    cursor: pointer;

}

.especialidades .especialidades-box:hover{
    
    transform: scale(1.05);
    box-shadow: 0 0 20px #ffffff77;
}

.especialidades .especialidades-box i{
      font-size: 90px;
      color: #fff;
}

.especialidades .especialidades-box p{
    font-size: 30px;
    margin: 15px 0;
}

@media (max-width: 820px) {
    .especialidades .interface .flex{
        flex-direction: column;
    }
}


a{
    text-decoration: none;
}



/* ESTILO DO SOBRE */

section.sobre{
    padding: 40px 4%;
}

section.sobre .flex{
    align-items: center;
    gap: 60px;

}

.img-sobre img{
    border-radius: 8px;

}

.sobre .txt-sobre{
    color: #fff;
}

.sobre .txt-sobre h2{
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;

}

.sobre .txt-sobre p{
    text-align: justify;
}

.btn-social button{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: #fff;
    font-size: 25px;
    cursor: pointer;
    margin: 0 8px;
    transition: 1s;

}

/* ESTILO DO PARCEIROS */

section.parceiros{
    padding: 80px 4%;
    box-shadow: 0 0 40px 10px #ffffff1e;
}

section.parceiros .flex{
    justify-content: space-around;
    margin-top: 60px;
}

.img-parc{
    width: 360px;
    height: 460px;
   background-size: cover;
   background-position: 100% 0%;
   transition: 8s;
   cursor: pointer;
   border-radius: 40px;
   /* position: relative; */
}

.img-parc:hover{
    background-position: 100% 100%;
}

.overlay{
    
    position: relative;
    top: 0;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: #000000b8;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    opacity: 0;
    transition: 3s;
}

.overlay:hover{
    opacity: 1;
}

/* ESTILO DO FORMULARIO DE CONTATO */

section.formulario{
    padding: 80px 4%;
}

form{
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
}

form input, form textarea{
    width: 100%;
    background-color: #242424;
    border: 0;
    outline: 0;
    padding: 20px 15px;
    border-radius: 15px;
    color: #fff;
    font-size: 18px;

}

form textarea{
    resize: none;
    max-height: 200px;
}

form .btn-enviar{
    margin-top: 20px;
    text-align: center;
}

form .btn-enviar input{
    width: 120px;
    background-color: #fff;
    color: #000;
    font-weight: 700;
    cursor: pointer;
    transition: 2s;
   
}

/* ESTILO DO RODAPÉ */

footer{
    padding: 60px 4%;
    box-shadow: 0 0 40px 10px #ffffff1e;
}

footer .flex{
    justify-content: space-between;
}

footer .line-footer{
    padding: 20px 0;
}

.borda{
    border-top: 2px solid #fff
}

footer .line-footer p i{
    color: #fff;
    font-size: 22px;
}

footer .line-footer p a{
    color: #fff;
}

