* { margin: 0; padding: 0; }

/*ESTILO GERAL*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #000;
    height: 100vh;
}

.interface{
    
    max-width: 1280px;
    margin: 0 auto;

}

.flex{

    display: flex;
}

.btn-contato button{
    padding: 10px 40px;
    font-size: 25px;
    font-weight: 700;
    background-color: #fff;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;

}

h2.titulo{
    color: #fff;
    font-size: 50px;
    text-align: center;
}

button:hover, form .btn-enviar input:hover{
    box-shadow: 0px 0px 8px #fff;
    transform: scale(1.30);
}

/* ESTILO DO CABEÇALHO */

header{

    padding: 40px 4%;
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    color: #7d7d7d;
    text-decoration: none;
    display: inline-block;
}

header a:hover{
    color: #fff;
    transform: scale(1.30);
    transition: .2s;
}

header nav ul{
    list-style-type: none;
}

header nav li{
    display: inline-block;
    padding: 0 40px;
}


.btn-contato button:hover{

    box-shadow: 0px 0px 8px #fff;
    transform: scale(1.05);
}

/* ESTILO DO TOPO DO SITE */

section.topo-do-site{
    padding: 40px 4%;
}

section.topo-do-site .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-do-site h1{
    color: #fff;
    font-size: 42px;
    line-height: 40px;
}

.topo-do-site .txt-topo-site h1 span{
    color: #fff;
}

.topo-do-site .txt-topo-site p{

    color: #fff;
    margin: 40px 0;
}

.slider {
    display: block;
    height: 293px;
    width: 600px;
    margin: auto;
    margin-top: 20px;
    position: relative;
}

.slider li {
    list-style: none;
    position: absolute;
}

.slider img {
    margin: auto;
    height: 100%;
    width: 100%;
    vertical-align: top;
    
}

.slider input {
    display: none;
}

.slider label {
    background-color: #fff;
    bottom: 10px;
    cursor: pointer;
    display: block;
    height: 10px;
    position: absolute;
    width: 10px;
    z-index: 10;
}

.slider li:nth-child(1) label {
    left: 10px;
}

.slider li:nth-child(2) label {
    left: 40px;
}

.slider li:nth-child(3) label {
    left: 70px;
}

.slider img {
    opacity: 0;
    visibility: hidden;
}

.slider li input:checked ~ img {
    opacity: 1;
    visibility: visible;
    z-index: 10;
}


.topo-do-site .img-topo-site img{
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}



@keyframes flutuar{

    0%{
        top: 0;
    }
    100%{
        top: 30px;
    }
}

/* ESTILO DAS ESPECIALIDADES */

section.especialidades{
    padding: 80px 4%;
}

section.especialidades .flex{
    gap: 60px;
}

.especialidades .especialidades-box{
    color: #fff;
    padding: 40px;
    border-radius: 20px;
    margin-top: 45px;
    transition: .2s;

}

.especialidades .especialidades-box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 20px #ffffff77;
}

.especialidades .especialidades-box i{
      font-size: 90px;
      color: #fff;
}

.especialidades .especialidades-box p{
    font-size: 30px;
    margin: 15px 0;
}

/* ESTILO DO SOBRE */

section.sobre{
    padding: 40px 4%;
}

section.sobre .flex{
    align-items: center;
    gap: 60px;

}

.sobre .txt-sobre{
    color: #fff;
}

.sobre .txt-sobre h2{
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;

}

.sobre .txt-sobre p{
    text-align: justify;
}

.btn-social button{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: #fff;
    font-size: 25px;
    cursor: pointer;
    margin: 0 8px;
    transition: 1s;

}

/* ESTILO DO PARCEIROS */

section.parceiros{
    padding: 80px 4%;
    box-shadow: 0 0 40px 10px #ffffff1e;
}

section.parceiros .flex{
    justify-content: space-around;
    margin-top: 60px;
}

.img-parc{
    width: 360px;
    height: 460px;
   background-size: cover;
   background-position: 100% 0%;
   transition: 8s;
   cursor: pointer;
   border-radius: 40px;
   position: relative;
}

.img-parc:hover{
    background-position: 100% 100%;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: #000000b8;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    opacity: 0;
    transition: 3s;
}

.overlay:hover{
    opacity: 1;
}

/* ESTILO DO FORMULARIO DE CONTATO */

section.formulario{
    padding: 80px 4%;
}

form{
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
}

form input, form textarea{
    width: 100%;
    background-color: #242424;
    border: 0;
    outline: 0;
    padding: 20px 15px;
    border-radius: 15px;
    color: #fff;
    font-size: 18px;

}

form textarea{
    resize: none;
    max-height: 200px;
}

form .btn-enviar{
    margin-top: 20px;
    text-align: center;
}

form .btn-enviar input{
    width: 120px;
    background-color: #fff;
    color: #000;
    font-weight: 700;
    cursor: pointer;
    transition: 2s;
   
}

/* ESTILO DO RODAPÉ */

footer{
    padding: 60px 4%;
    box-shadow: 0 0 40px 10px #ffffff1e;
}

footer .flex{
    justify-content: space-between;
}

footer .line-footer{
    padding: 20px 0;
}

.borda{
    border-top: 2px solid #fff
}

footer .line-footer p i{
    color: #fff;
    font-size: 22px;
}

footer .line-footer p a{
    color: #fff;
}


